*{
	margin:0;
	padding:0;
}
body{
	height:2000px;
	overflow:auto;	
	font-family:PT Sans, sans-serif;
	color: #333333;
}

.wrapper{
	width: 564px;
	height:787px;
	margin:0 auto;
	position:relative;
	top:200px;
	text-shadow:0.5px 0 0.5px #b1b1b1;
}
.first{
	position:absolute;
	bottom:0;
	right:0;
	width:520px;
	height:746px;
	background-color:#acacac; 
	border: 3px solid black;
}
.blue{
	margin-left:495px;
	margin-top: 54px;
	width:39px;
	height: 22px;
	background-color:#00aeef;
	border: 3px solid black;
	border-bottom-right-radius: 9px;

}
.second{
	position:absolute;
	bottom:18px;
	right:20px;
	width:520px;
	height:746px;
	background-color:#cccccc; 
	border: 3px solid black;
	}
.green{
	margin-left:498px;
	margin-top: 50px;
	width:71px;
	height: 21px;
	background-color:#39b54a;
	border: 3px solid black;
	border-bottom-right-radius: 9px;
}
.third{
	position:absolute;
	bottom:36px;
	right:40px;
	width:520px;
	height:746px;
	background-color:#ebebeb; 
	border: 3px solid black;

}
.orange{
	width:110px;
	height: 31px;
	margin-left:492px;
	margin-top: 34px;
	background-color:#f68e56;
	border: 3px solid black;
	border-bottom-right-radius: 9px;
	border-top-right-radius: 9px;
}
.inside{
	position:relative;
	top:-34px;
	padding-right:30px;
	padding-bottom:20px;
	padding-left:30px;
	
}
.inside h1{
	font-size:1.4em;
	font-weight:lighter;
	padding-bottom:15px;
	text-shadow:none;
}
.cup_img{
	width:208px;
	height:112px;
	float:left;
	margin: 0 18px 8px 0;
	}
.inside p {
	font-size:11.2px;
	line-height:14px;
}

.inside p+p{
	padding-bottom:2em;
}

.list_img{
	
	width:140px;
	height:140px;
	float:right;
	margin: 0 0 0 6px;
	}
	
.inside h2{
	font-size:1.05em;
	font-weight:normal;
	padding-top:48px;
	padding-bottom:22px;
	text-shadow:none;
}
.news_img{
	width:195px;
	height:88px;
	padding-bottom:12px;
}
.inside :nth-child(2n+8){
	padding-right:13%;
}
.inside img+p:last-child{
	padding:12px 0 0 0;
	font-size:8px;
	text-align:center;
}
.one{
	width:88px;
	height: 71px;
	position:fixed;
	right:0;
	bottom:12%;
	background-color:#fbaf5d;
	border: 2px solid black;
}
.one p{
	margin: 9px 0 9px 0;
	font-size:14px;
	text-align:center;
	text-shadow:0.5px 0 0.5px #976f45;
	}
.one img{
	margin-right:3px;
	margin-bottom:5px;
	border-radius: 150px;
	width:20px;
	height:20px;
}
.one p+img {margin-left:6px;}